* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: white;
}

.container {
  width: 80%;
}

#site_header .top {
  background-color: #0282f9;
}
#site_header .top .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
#site_header .top .container span {
  padding: 0.5rem 0;
  color: white;
  font-size: 0.8rem;
}
#site_header .top .container span:first-child {
  font-weight: 600;
  margin-right: 3rem;
}
#site_header .navbar .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#site_header .navbar .container .logo {
  margin-right: 3rem;
}
#site_header .navbar .container .logo img {
  height: 80px;
  padding: 0.5rem;
}
#site_header .navbar .container nav {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
}
#site_header .navbar .container nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 2rem 0;
  font-size: 12px;
}
#site_header .navbar .container .search {
  position: relative;
  border-bottom: 2px solid #0282f9;
  margin-left: 3rem;
}
#site_header .navbar .container .search i {
  font-size: 13px;
  position: absolute;
  right: 0;
}
#site_header .navbar .container .search input {
  border: none;
  outline: none;
  height: 20px;
}
#site_header .navbar .container .search input::-moz-placeholder {
  color: black;
  font-weight: bold;
  text-align: right;
  padding-right: 1.2rem;
  font-size: 13px;
  position: absolute;
  right: 10px;
}
#site_header .navbar .container .search input:-ms-input-placeholder {
  color: black;
  font-weight: bold;
  text-align: right;
  padding-right: 1.2rem;
  font-size: 13px;
  position: absolute;
  right: 10px;
}
#site_header .navbar .container .search input::placeholder {
  color: black;
  font-weight: bold;
  text-align: right;
  padding-right: 1.2rem;
  font-size: 13px;
  position: absolute;
  right: 10px;
}
#site_header .bottom {
  height: 350px;
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
}
#site_header .active {
  border-bottom: 5px solid #0282f9;
}

main {
  background-color: #1c1c1c;
}
main .container {
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
}
main .container h1 {
  margin: 3rem 0;
}
main .container .card {
  width: calc(100% / 5 - 20px);
  margin: 1rem 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
main .container .card > img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover center;
     object-fit: cover center;
}
main .container .card .details {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  padding: 10px;
}
main .container .card:hover img {
  filter: brightness(0.3);
}
main .container .card:hover .details {
  display: block;
}
main .button {
  margin: 1rem auto 0;
  border-style: none;
  padding: 0.5rem 3rem;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #0282f9;
}

#site_footer {
  height: 200px;
  background-color: #308200;
}