* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: white;
}

.container {
  width: 80%;
}

#site_header .top {
  background-color: #0282f9;
}
#site_header .top .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
#site_header .top .container span {
  padding: 0.5rem 0;
  color: white;
  font-size: 0.8rem;
}
#site_header .top .container span:first-child {
  font-weight: 600;
  margin-right: 3rem;
}
#site_header .navbar .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#site_header .navbar .container .logo {
  margin-right: 3rem;
}
#site_header .navbar .container .logo img {
  height: 80px;
  padding: 0.5rem;
}
#site_header .navbar .container nav {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
}
#site_header .navbar .container nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 2rem 0;
  font-size: 12px;
}
#site_header .navbar .container nav a.active {
  color: #0282f9;
}
#site_header .navbar .container .search {
  position: relative;
  border-bottom: 2px solid #0282f9;
  margin-left: 3rem;
}
#site_header .navbar .container .search i {
  font-size: 13px;
  position: absolute;
  right: 0;
}
#site_header .navbar .container .search input {
  border: none;
  outline: none;
  height: 20px;
}
#site_header .navbar .container .search input::-moz-placeholder {
  color: black;
  font-weight: bold;
  text-align: right;
  padding-right: 1.2rem;
  font-size: 13px;
  position: absolute;
  right: 10px;
}
#site_header .navbar .container .search input:-ms-input-placeholder {
  color: black;
  font-weight: bold;
  text-align: right;
  padding-right: 1.2rem;
  font-size: 13px;
  position: absolute;
  right: 10px;
}
#site_header .navbar .container .search input::placeholder {
  color: black;
  font-weight: bold;
  text-align: right;
  padding-right: 1.2rem;
  font-size: 13px;
  position: absolute;
  right: 10px;
}
#site_header .bottom {
  height: 350px;
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
}
#site_header .active {
  border-bottom: 5px solid #0282f9;
}

main {
  background-color: #1c1c1c;
}
main .container {
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
}
main .container h1 {
  margin: 3rem 0;
}
main .container .card {
  width: calc(100% / 6 - 20px);
  margin: 1rem 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
main .container .card > img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover center;
     object-fit: cover center;
  margin: auto;
}
main .container .card .details {
  font-size: 13px;
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  padding: 15px;
}
main .container .card:hover img {
  filter: brightness(0.3);
}
main .container .card:hover .details {
  display: block;
}
main .button {
  margin: 1rem auto 0;
  border-style: none;
  padding: 0.5rem 3rem;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #0282f9;
}

.id_comic {
  color: white;
  position: relative;
}
.id_comic .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
.id_comic .description {
  margin-top: 20px;
}
.id_comic .description h4 {
  margin-bottom: 20px;
}
.id_comic .ad {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 3rem;
}

#site_main .features {
  background-color: #0282f9;
  padding: 5px;
}
#site_main .features .container {
  display: flex;
  justify-content: space-between;
}
#site_main .features .container a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#site_main .features .container a img {
  width: 40px;
}
#site_main .features .container a div {
  margin-left: 10px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

#site_footer {
  background-image: url("../img/footer-bg.jpg");
  font-size: 13px;
  color: lightgrey;
}
#site_footer > .container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 40px 0;
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
#site_footer > .container a {
  color: inherit;
  text-decoration: none;
}
#site_footer > .container a:hover {
  color: #0282f9;
}
#site_footer > .container .menus {
  display: flex;
}
#site_footer > .container .menus .footer_menu:first-child li:last-child .footer_menu {
  margin-top: 15px;
}
#site_footer > .container .menus .footer_menu {
  list-style-type: none;
}
#site_footer > .container .menus .footer_menu .menu_heading {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}
#site_footer > .container .menus .footer_menu li {
  margin: 4px 0;
}
#site_footer > .container .menus > .footer_menu {
  margin-right: 30px;
}
#site_footer > .container .disclaimer {
  margin-top: 20px;
}
#site_footer > .container .disclaimer a {
  color: #0282f9;
}
#site_footer .call-to-action {
  padding: 20px 0;
  background-color: grey;
}
#site_footer .call-to-action .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
#site_footer .call-to-action .container button {
  color: white;
  border: 2px solid #0282f9;
  padding: 15px 10px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}
#site_footer .call-to-action .container button:hover {
  background-color: #0282f9;
}
#site_footer .call-to-action .container .social {
  display: flex;
  align-items: center;
  gap: 25px;
}
#site_footer .call-to-action .container .social a img {
  transition: filter 0.25s;
}
#site_footer .call-to-action .container .social a:hover img {
  filter: brightness(80%);
}
#site_footer .call-to-action .container .social span {
  font-size: 20px;
  color: #0282f9;
  font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
  font-weight: bold;
}