.id_comic{
    color: white;
    position: relative;
    .details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
    }
    .description{
        margin-top: 20px;
        h4{
            margin-bottom: 20px;
        }
    }

    button{
        border-style: none;
        background-color: $primary_color_header;
        padding: 0.5rem 2rem;
        margin:15px 5px 0 5px;
        a{
            color: white;
            text-decoration: none;
            font-size: 15px;
            font-weight: 600;
        }
    }

    .ad{
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 3rem;
    }
}